/* 
    Created on : May 21, 2015, 7:45:26 PM
    Author     : Александр
*/
.c, .cc, .clear{
    clear:both;
}
/* редактирование ингредиентов в форме */
/* INGRFORM-BEGIN */
#ingredientSelector .selected{
    border: 2px solid black;
    margin-bottom: 20px;
    height: 76px;
}
#ingredientSelector .selected .selected-ids{
    display: none;
}
#ingredientSelector .selected .AlkhimElement{
    float: left;
    margin: 10px;
    width: 56px;
    height: 56px;
    cursor: pointer;
    box-shadow: gray 1px 1px 2px;
}
#ingredientSelector .all .AlkhimElement{
    float: left;
    margin: 10px;
    width: 32px;
    height: 32px;
    border: 1px solid gray;
    cursor: pointer;
}
#ingredientSelector .all .AlkhimElement.notfinded{
    opacity: 0.3;
}
#ingredientSelector .all .AlkhimElement.notfinded:hover{
    opacity: 1.0;
}
#ingredientSelector .all .AlkhimElement img{
    max-height: 32px;
    max-width: 32px;
}
#ingredientSelector #ingrSearchInput{
    width: 300px;
}
/* INGRFORM-END */

/* elements-grid-BEGIN */
#elements-grid .ingredients .image {
    float: left;
    height: 32px;
    width: 32px;
    margin-right: 5px;
    box-shadow: 0 1px 2px #333;
}
#elements-grid .ingredients .image > img {
    max-height: 100%;
    max-width: 100%;
}
/* elements-grid-END */